<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /magaza/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^themes/.+ - [L]
</IfModule>
